<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/persons">Persons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/countries">Countries</a>
      </li>
    </ul>
  </div>
</nav>
